# Compiler files
foundry/cache/
foundry/out/

foundry/broadcast
foundry/.vscode
foundry/coverage
foundry/whitelist/node_modules/


# Dotenv file
frontend/.env
foundry/.env

frontend/node_modules/
frontend/.next